* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

htlm, body {
  margin: 0;
  padding: 1em;
}

.positionable {
  position: relative;
  display: inline-block;
  z-index: 0;
  background: inherit;
  padding: 1em;
}

.positionable.activated {
  background: rgba(0,255,0,0.2);
  border: 1px dashed rgba(0,0,0,0.4);
  margin: -1px;
  cursor: move;
}

.positionable.activated * {
  cursor: default;
}

.rotation-control { display: none; }
.positionable .rotation-control {
  position: absolute;
  display: block;
  top: 1.6em;
  right: -1.6em;
  width: 1em;
  height: 1em;
  padding: 1em;
  cursor: pointer;
  transform-origin: 0.5em 0.5em;
  transform: rotate(-135deg);
  background: transparent;
  border-radius: 3em;
}

.scale-control { display: none; }
.positionable .scale-control {
  position: absolute;
  display: block;
  bottom: -0.9em;
  right: -1.3em;
  width: 1em;
  height: 1em;
  padding: 1em;
  cursor: pointer;
  background: transparent;
  border-radius: 3em;
}

.zindex-controller { display: none; }
.positionable .zindex-controller {
  position: absolute;
  display: block;
  bottom: 0;
  left: 1em;
  font-size: 90%;
  white-space: nowrap;
}

.zmod {
  position: relative;
  cursor: pointer;
  padding: 1em;
  margin: -1.1em;
  border-radius: 2em;
  border: none;
  background: transparent;
}
.zmod.left {
  padding-right: 0.25em;
  margin-right: -0.25em;
}
.zmod.right {
  padding-left: 0.25em;
  margin-left: -0.25em;
}

.log {
  float: right;
  height: 80vh;
  width: 20em;
  overflow: auto;
}