* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

htlm, body {
  margin: 0;
  padding: 1em;
}

.positionable {
  position: relative;
  display: inline-block;
  z-index: 0;
  background: inherit;
  padding: 1em;
}

.positionable.activated {
  background: rgba(0,255,0,0.2);
  border: 1px dashed rgba(0,0,0,0.4);
  margin: -1px;
  cursor: move;
}

.positionable.activated * {
  cursor: default;
}

.rotation-control { display: none; }
.positionable .rotation-control {
  position: absolute;
  display: block;
  top: 0.1em;
  right: 0.1em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  cursor: pointer;
  transform-origin: 0.5em 0.5em;
  transform: rotate(-135deg);
}

.scale-control { display: none; }
.positionable .scale-control {
  position: absolute;
  display: block;
  bottom: 0.1em;
  right: -0.2em;
  width: 1em;
  height: 1em;
  border-radius: 0.2em;
  cursor: pointer;
}

.zindex-controller { display: none; }
.positionable .zindex-controller {
  position: absolute;
  display: block;
  bottom: 0;
  left: 1em;
  opacity: 0.7;
  font-size: 90%;
}

.zmod {
  cursor: pointer;
  opacity: 0.5;
}

.log {
  float: right;
  height: 80vh;
  width: 10em;
  overflow: auto;
}